.icon-button {
  background: transparent;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease;
  transform: scale(1.2)
}

.icon-button:hover {
  transform: scale(1.5);
}

.like-icon:hover,
.dislike-icon:hover {
  color: orange;
}
